PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jewellery_erp
NEXT_PUBLIC_SUPABASE_URL=https://nrqbmudhrtgdikkxgjrd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2gFvsug65Xx40eDCLVeazQ_V9bciRgG
SUPABASE_SERVICE_ROLE_KEY=
SENTRY_DSN=
